<div class="relative h-[92vh] w-screen flex overflow-hidden">
    <div class="h-full w-1/2 flex items-center justify-center">
        <div class="p-4 w-4/5">
            <h2 class="text-5xl inline-block m-0 p-0">
                Hi There!
            </h2>
            <h1 class="text-6xl my-6 inline-block m-0 p-0">
                I’m <span class="text-[#7A379E]">Full-Stack</span> 
                <br>Software <span class="text-[#7A379E]">Developer</span>
            </h1>
            <h2 class="text-5xl inline-block m-0 p-0">
                Let me be the <span class="text-[#7A379E]">CSS</span> of 
                <br>your <span class="text-[#7A379E]">HTML</span>
            </h2>
        </div>
    </div>
    <div class="w-1/2 flex justify-end">
        <div class="h-full overflow-hidden">
            <svg class="p-0 m-0" viewBox="305 112 10 1827" width="70vh" height="89vh" xmlns="http://www.w3.org/2000/svg">
                <path d="m0 0h998l7 2v1825l-1 1h-1e3l-5-4-9-11-10-14-12-23-8-19-7-21-6-24-6-32-4-33-2-25v-59l4-53 5-41 7-48 7-37 8-37 11-47 12-44 13-45 11-39 7-31 7-40 5-35 4-47 1-26v-60l-2-42-4-43-6-48-8-51-8-42-14-66-15-63-16-67-11-45-14-65-7-35-6-39-5-45-2-35v-27l2-33 5-35 6-26 9-27 11-25 11-20 16-24 13-16 9-10z" fill="#BD68EE" />
            </svg>
        </div>
    </div>

        <div  class="absolute bottom-0 left-0 right-0 w-full h-[25%] overflow-hidden" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-0.33,-2.16 C179.68,97.23 354.63,-79.91 500.00,49.85 L500.00,149.60 L-0.00,149.60 Z" style="stroke: none; fill: #F8EBFF;"></path></svg></div>

</div>
