<div class="h-[89vh] w-screen flex">
    <div class="h-full w-1/2 bg-slate-800 flex items-center justify-center">
        <div class="bg-slate-50">
            <h2 class="text-6xl">
                Hi There!
            </h2>
            <h1 class="text-7xl my-6">
                I’m<span class="text-[#7A379E]"> Full-Stack</span> 
                <br>Software <span class="text-[#7A379E]"> Developer</span>
            </h1>
            <h2 class="text-6xl">
                Let me be the <span class="text-[#7A379E]"> CSS</span> of 
                <br>your <span class="text-[#7A379E]"> HTML</span>
            </h2>
        </div>
    </div>
    <div class="bg-slate-500 w-1/2 flex justify-end">
        <div class="h-full overflow-hidden">
            <svg class="p-0 m-0" version="1.1" viewBox="305 112 570 1827" width="70vh" height="89vh" xmlns="http://www.w3.org/2000/svg">
                <path d="m0 0h998l7 2v1825l-1 1h-1e3l-5-4-9-11-10-14-12-23-8-19-7-21-6-24-6-32-4-33-2-25v-59l4-53 5-41 7-48 7-37 8-37 11-47 12-44 13-45 11-39 7-31 7-40 5-35 4-47 1-26v-60l-2-42-4-43-6-48-8-51-8-42-14-66-15-63-16-67-11-45-14-65-7-35-6-39-5-45-2-35v-27l2-33 5-35 6-26 9-27 11-25 11-20 16-24 13-16 9-10z" fill="#BB6CF4" transform="translate(305,112)" />
            </svg>
        </div>    
    </div>  
  </div>
  