<header class="text-gray-600 body-font shadow">
    <div class="container mx-auto flex md:flex-row items-center">
        <a
            class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg
                version="1.0"
                xmlns="http://www.w3.org/2000/svg"
                width="55pt"
                height="55pt"
                viewBox="0 0 303.000000 283.000000"
                preserveAspectRatio="xMidYMid meet">
                <g
                    transform="translate(0.000000,283.000000) scale(0.100000,-0.100000)"
                    fill="#000000"
                    stroke="none">
                    <path
                        d="M386 2512 c-11 -18 -9 -190 4 -287 13 -100 51 -221 86 -277 13 -21 24 -45 24 -54 0 -31 -63 -134 -113 -184 -57 -57 -53 -62 18 -21 60 35 154 132 255 266 111 146 173 209 269 272 47 31 88 59 91 61 12 10 -88 84 -163 120 -124 61 -250 96 -383 107 -55 5 -84 4 -88 -3z" />
                    <path
                        d="M2615 2513 c-60 -5 -202 -41 -277 -69 -103 -39 -269 -149 -241 -160 42 -18 143 -88 196 -139 60 -58 158 -173 207 -245 50 -73 175 -192 232 -221 72 -36 80 -37 37 -1 -65 52 -112 113 -142 184 -14 33 -13 37 12 79 34 55 66 145 81 224 15 82 24 273 16 318 -8 40 -7 40 -121 30z" />
                    <path
                        d="M1350 2326 c-36 -7 -63 -16 -60 -21 2 -6 31 -34 63 -64 85 -79 161 -201 189 -304 13 -48 28 -63 28 -26 0 21 23 78 68 169 16 32 62 90 114 143 47 48 81 90 75 92 -77 25 -359 31 -477 11z" />
                    <path
                        d="M1005 1611 c-16 -4 -77 -29 -135 -56 -164 -73 -350 -134 -415 -135 -61 -1 -62 -17 -4 -44 30 -13 62 -27 72 -30 26 -8 21 -22 -15 -37 -22 -9 -75 -14 -159 -14 -144 0 -136 7 -88 -87 137 -269 448 -551 759 -687 41 -18 84 -37 95 -42 90 -41 349 -99 441 -99 104 0 322 50 464 107 384 153 728 462 864 778 l13 30 -115 -3 c-89 -3 -124 0 -158 13 -46 18 -56 32 -26 41 9 3 41 17 71 30 57 27 57 44 -1 44 -72 0 -251 61 -483 163 -61 27 -82 31 -160 31 -76 1 -97 -3 -135 -23 -136 -72 -195 -177 -171 -307 11 -60 38 -105 126 -214 24 -30 63 -93 87 -139 41 -81 43 -87 43 -176 0 -86 -2 -94 -30 -131 -16 -21 -39 -47 -50 -56 -28 -24 -113 -64 -155 -73 l-35 -7 37 37 c66 66 71 133 14 193 -47 51 -101 75 -181 80 -86 5 -153 -19 -207 -76 -61 -64 -58 -125 9 -195 l38 -39 -35 7 c-98 21 -205 104 -230 180 -18 56 -8 159 24 229 28 62 93 163 133 205 41 45 81 114 94 164 30 121 -37 249 -164 314 -40 20 -69 27 -127 29 -41 2 -88 -1 -105 -5z" />
                </g>
            </svg>
            <span class="ml-3 text-xl">
                <h2 class="font-bold ml-8 text-4xl">SJR</h2>
            </span>
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <div class="px-5" (click)="handleClick('home')">
              <div class="container px-3"
                   [ngClass]="{ 'custom-border-bottom': activeContainer === 'home' }">
                <p class="p-header">Home</p>
              </div>
            </div>
            <div class="px-5" (click)="handleClick('aboutMe')">
              <div class="container px-3"
                   [ngClass]="{ 'custom-border-bottom': activeContainer === 'aboutMe' }">
                <p class="p-header">About me</p>
              </div>
            </div>
            <div class="px-5" (click)="handleClick('folder')">
              <div class="container px-3"
                   [ngClass]="{ 'custom-border-bottom': activeContainer === 'folder' }">
                <p class="p-header">Folder</p>
              </div>
            </div>
            <div class="px-5" (click)="handleClick('blog')">
              <div class="container px-3"
                   [ngClass]="{ 'custom-border-bottom': activeContainer === 'blog' }">
                <p class="p-header">Blog</p>
              </div>
            </div>
            <div class="px-5" (click)="handleClick('contactMe')">
              <div class="container px-3"
                   [ngClass]="{ 'custom-border-bottom': activeContainer === 'contactMe' }">
                <p class="p-header">Contact me</p>
              </div>
            </div>
          </nav>
          
    </div>
</header>
